<%- include("./partials/header.ejs")%>
<%- include("./partials/sidebar.ejs")%>

        <main class="main-wrap">
            <%- include("./partials/nav.ejs")%>
            <section class="content-main">
                <div class="content-header">
                    <div>
                        <h2 class="h4 text-link">Coupon management</h2>
                    </div>
                    <div>
                        <a href="/admin/addcoupon"><button class="btn  btn-success text-white   ">Create new coupon</button></a>
                    </div>
                </div>
                <div class="card mb-4">
                    
                    <!-- card-header end// -->
                 
                    <div class="card-body" style="height:500px">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Name</th>
                                        <th>Code</th>
                                        <th>Discount</th>
                                        <th>Eligibleamount</th>
                                        <th>status</th>
                                        <th>Count</th>
                                        <th>expiry</th>
                                        <th class="text-end">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% couponData.forEach((i, index) => { %>
                                        <tr>
                                            <td><%= index %></td>
                                            <td><%= i.name %></td>
                                            <td><%= i.code %></td>
                                            <td><%= i.discountAmount %></td>
                                            <td><%= i.criteriaAmount %></td>
                                            <td><%= i.status %></td>
                                            <td>1</td>
                                            <td><%= i.expiryDate.toISOString().split('T')[0] %></td>
                                            <td><a href="/admin/editcoupon/<%=i._id%>"><button class="btn btn-warning btn-sm rounded-pill px-4 text-white"  >Edit</button></a></td>
                                            <!-- data-bs-toggle="modal" data-bs-target="#editcategory" data-category-id="<%= i.id %>" data-category-name="<%= i.categoryName %>" data-category-description="<%= i.description %>" data-category-status="<%= i.status %>">
                                                        Edit -->
                                        </tr>
                                    <% }); %>
                                </tbody>
                            </table>
                        </div>
                        <!-- table-responsive//end -->
                    </div>
                    <div class="d-flex justify-content-center">
                        <div class="col-3 d-flex" id="paginationsection" data-total="<%=totalPages%>">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination" id="pagination"></ul>
                              </nav>
                        </div>
                    </div>
                </div>
            </section>
            <%- include("./partials/footer.ejs")%>
            <script>
            const totalpages = document.getElementById('paginationsection').getAttribute('data-total');
            function generatePagination(numPages) {
                const paginationContainer = document.getElementById('pagination');
                paginationContainer.innerHTML = '';

                let todate;
                let fromdate;

                for (let i = 1; i <= numPages; i++) {
                paginationContainer.innerHTML += `
                    <li class="page-item d-flex" data-page="${i}">
                    <a class="page-link" href="#" >${i}</a>
                    </li>
                `;
                }
            }

            generatePagination(totalpages);
            const pagebtns=Array.from(document.getElementsByClassName('page-item'));
            console.log(pagebtns)
            let page;

            pagebtns.forEach(i=>{
                i.addEventListener('click',function(){
                    page=this.getAttribute('data-page');
                    window.location.href=`/admin/coupons?page=${page}`;
                    })
            })
            </script>
        </body>
        </html>
