<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Orders Dashboard</title>
<style>
    .d-flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }

    .flex-direction-column {
        flex-direction: column;
    }

    label {
        margin-bottom: 5px;
        font-weight: bold;
    }

    .text-primary {
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 5px;
        outline: none;
    }
</style>
</head>
<body>

<%- include("./partials/header.ejs")%>
<%- include("./partials/sidebar.ejs")%>

<main class="main-wrap">
    <%- include("./partials/nav.ejs")%>
    <section class="content-main">
        <div class="content-header">
            <div>
                <h2 class="content-title card-title fw-bolder text-primary">Ledger Book</h2>
                
            </div>
            <div class="d-flex">
                <div class="flex-direction-column">
                    <label for="from">From</label>
                    <input type="date" id="from" class="text-primary">
                </div>
                <div class="flex-direction-column">
                    <label for="to">To</label>
                    <input type="date" id="to" class="text-primary">
                </div>
                <button id="submitbtn" type="submit" class="btn-primary rounded-pill p-2 mx-3">Submit</button>
            </div>
        </div>
        <div class="card mb-4">
            
            <div class="card-body tab mt-5 ms-3">
                <div id="ledgerbookdiv" style="height:500px">
                    <!-- All Orders Content -->
                    
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        
                                        <th>#</th>
                                        <th>Date</th>
                                        <th>Description</th>
                                        <th>Type</th>
                                        <th>Amount</th>
                                       
                                    </tr>
                                </thead>
                                <tbody>
                                 <%data.forEach((i,index)=>{%>
                                    <tr>
                                        
                                        <td><%=index%></td>
                                        <td><%=i.createdAt.toISOString().split('T')[0]%></td>
                                        <td><b><%=i.description%></b></td>
                                        <td><%=i.type%></td>
                                        <td>
                                            <%=i.amount%>
                                        </td>
                                       
                                    </tr>
                                    <%})%>
                                </tbody>
                            </table>
                        </div>
                       
                    
                </div>
                <div class="d-flex justify-content-center">
                <div class="col-3 d-flex" id="paginationsection" data-total="<%=pagination.totalPages%>">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination" id="pagination"></ul>
                      </nav>
                </div>
            </div>
        </div>
        
    </section>
    <%- include("./partials/footer.ejs")%>
</main>

</body>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    const totalpages = document.getElementById('paginationsection').getAttribute('data-total');
  
    function generatePagination(numPages) {
      const paginationContainer = document.getElementById('pagination');
      paginationContainer.innerHTML = '';
  
      let todate;
      let fromdate;
  
      for (let i = 1; i <= numPages; i++) {
        paginationContainer.innerHTML += `
          <li class="page-item d-flex" data-page="${i}">
            <a class="page-link" href="#" >${i}</a>
          </li>
        `;
      }
    }
  
    generatePagination(totalpages);
  
    document.getElementById('submitbtn').addEventListener('click', function() {
      todate = document.getElementById('to').value;
      fromdate = document.getElementById('from').value;
      window.location.href = `/admin/ledgerbook?from=${fromdate}&to=${todate}`;
    });
  
    const pagebtns = Array.from(document.getElementsByClassName('page-item'));
  
    pagebtns.forEach(i => {
      i.addEventListener('click', function() {
        page = this.getAttribute('data-page');
        todate = document.getElementById('to').value;
        fromdate = document.getElementById('from').value;
        let isFilter=Boolean(fromdate && todate);
        console.log(page);
        if (isFilter) {
          window.location.href = `/admin/ledgerbook?from=${fromdate}&to=${todate}&page=${page}`;
        } else {
          window.location.href = `/admin/ledgerbook?page=${page}`;
        }
      });
    });
  </script>
  </body>
  </html>